.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.quizContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.questionNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionNumber{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}

.questionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.questionCircle {
  width: 34px; 
  height: 34px; 
  border-radius: 50%;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  cursor: pointer;
}

.questionCircle.active {
  background-color: #e0e0e0;
}

.closeButton {
  position: absolute;
  top: -2px; 
  right: 2px; 
  color: rgb(109, 106, 106); 
  border-radius: 50%;
  width: 10px; 
  height: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quizType{
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
  padding-left: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
}

.question {
  border: none;
  padding: 10px;
  margin: 10px 0;
}

.optionType{
  display: flex;
  justify-content: space-around;
  /* align-items: center;  */
  margin-bottom: 16px;
}

.radioButtons{
  display: flex;
  gap: 20px;
}

.radioButtons div {
  display: flex;
  align-items: center; /* Align items vertically */
}

input[type="radio"] {
  margin-right: 14px; 
}

.optionsContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option{
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
}

.deleteIcon{
  width: 20px;
  margin-left: 14px;
  cursor: pointer;
}

.timer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 22px;
  margin-bottom: 14px;
}

.timerValue{
  width: 120%;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
}

.addOption{
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
  cursor: pointer;
}

button {
  margin-top: 10px;
}

.clicked {
  background-color: #44d86e;
  border-radius: 4px;
  border: none;
}

.createButton {
  width: 180px; 
  height: 34px;
  padding: 10px 10px; 
  background-color: #44d86e; 
  border: none;
  border-radius: 5px; 
  color: #fff; 
  font-size: 16px; 
  cursor: pointer;
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.cancelButton{
  width: 180px; 
  height: 34px;
  padding: 10px 10px; 
  background-color: white; 
  border: none;
  border-radius: 5px; 
  color: black; 
  font-size: 16px; 
  cursor: pointer;
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
}

.cancelButton:hover,
.createButton:hover {
  border: 2px solid red; 
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOverlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
}




    

