.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(141, 148, 152, 0.7);
  z-index: 1000;
  transition: all 0.3s ease 0s;
}

.overlayContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 1rem 2rem;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 500px;
  border-radius: 8px;
  position: relative;
}

.questionNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.questionNumber {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}

.questionNav span{
  font-family: cursive;
}

.questionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.questionCircle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.active {
  background-color: #b9b7b7;
}

.closeButton {
  position: absolute;
  top: -2px;
  right: 2px;
  color: rgb(109, 106, 106);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quizType {
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
  padding: 20px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
}

.question {
  border: none;
  padding: 10px;
  margin: 10px 0;
}

.optionType {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 32px;
}

.radioButtons {
  display: flex;
  gap: 20px;
}

.radioButtons div {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 14px;
}

.optionsContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option {
  width: 70%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
}

.deleteIcon {
  width: 20px;
  margin-left: 14px;
  cursor: pointer;
}

.timer {
  position: absolute;
  bottom: 80px;
  right: 32px;
  display: flex;
  flex-direction: column;
}

.timerValue {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
}

.addOption {
  width: 200px;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 8px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.3);
  cursor: pointer;
  font-size: 18px;
}

button {
  margin-top: 10px;
}

.clicked {
  background-color: red;
  border-radius: 4px;
  border: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.createButton {
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: #44d86e;
  cursor: pointer;
  outline: none;
}

.cancelButton {
  border: 1.3px solid red;
  background-color: white;
  color: red;
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
}