.mainContent {
  /* overflow: hidden;  */
  width: 82vw;
  height:100vh;
  padding: 20px;
  background: #EDEDED;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.stat{
  width: 18vw;
  height: 100px;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.stat p {
  margin: 0; 
  padding: 0; 
}

.stat p + p {
  margin-top: 22px; 
}

.trendingQuizzes {
  .trendingQuizzes {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100vh;
    overflow-y: auto; 
    padding: 20px;
    border: none;
    background-color: #ffffff; 
  }
}
.trendingTitle {
  margin-bottom: 20px;
  font-size: 36px;
}

.quizzesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 30px;
}