.main{
    background-color: white;
    width: 60vw;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    overflow-y: auto;
}

.option{
    border: 1px solid gray;
    margin: 10px;
    /* padding: 12px; */
    text-align: center;
    border-radius: 4px;
    width: 20%;
}


  
  .option div {
    line-height: 1.5; 
  }