.main {
  width: 82vw;
  height: 100vh;
  padding: 20px;
  background: #EDEDED;
  margin: 0;
  overflow-y: auto;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.analyticsContainer {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: gray;
  font-family: cursive;
}

.quizItem {
  /* border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 20px;
  margin-bottom: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 31px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.quizItemContent {
  flex: 1;
  min-width: 100px; 
  text-align: center;
  margin: 5px;
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.quizItem div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.deleteConfirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; 
}

.confirmationBox {
  width: 40vw;
  height: 40vh;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.confirmationBox button {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 14px 20px; 
  cursor: pointer; 
  margin-right: 10px; 
  border-radius: 10px;
  margin-right: 40px;
}

.confirmationBox button:hover {
  background-color: #0056b3; 
}
